* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: #1d1d1d;
	color: #fff;
}

.text-center {
	text-align: center;
	margin-top: 1rem;
}

.chartersSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 4rem 2rem;
}

.chartersBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 300px;
	height: 350px;
	background-color: #303030;
	border-radius: 6px;
	padding: 20px;
}

.chartersBox a img {
	width: 190px;
	height: 190px;
	border-radius: 6px;
	transition: 0.3s ease all;
	margin: 10px;
}

.chartersBox a img:hover {
	scale: 1.05;
}

.chartersBox h2 {
	font-size: 18px;
}

.chartersBox .button-container {
	margin-top: 1rem;
}

.chartersBox button {
	background-color: #1d1d1d;
	color: #fff;
	padding: 10px 10px;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
	margin-top: 1rem;
}
